extends layout

block content
  .container-lecture
    section.header
      h3.headline 시간표 만들기
    section.section-nav
      form(id='search-form' class='form-search' action='/courses/search/', Method='GET')
        input.form-control(type='text', placeholder='강의 검색')
        span
          i.material-icons.ic-search search
      ul.list-lecture
        each course in courses
          li(class='card-lecture' data-code= course.code)
            a(class='lecture-title' href='#') #{course.lecture}
            h6.lecture-time
              i.material-icons.ic-lecture-info access_time
              if course.dayofweek.length == 2
                span #{course.start_time}:00 - #{course.end_time}:00 | (#{course.dayofweek.split('')[0]}) , (#{course.dayofweek.split('')[1]})
              else
                span #{course.start_time}:00 - #{course.end_time}:00 | (#{course.dayofweek})
            ul.list-lecture-info
              li 교과목 코드 : #{course.code}
              li 담당 교수 : #{course.professor}
              li 강의실 : #{course.location}
    section.section-list
      .container-xl
        header.header-timetable-info
          h3 2019년 11월
          .btn-group(role='group')
            button.btn.btn-light.btn-previous(type='button')
              i.material-icons.ic-previous chevron_left
            button.btn.btn-light.btn-today(type='button') 오늘
            button.btn.btn-light.btn-next(type='button')
              i.material-icons.ic-next chevron_right
        .table-schedule
          .timeline
            ul
              li
                span 09:00
              li
                span 09:30
              li
                span 10:00
              li
                span 10:30
              li
                span 11:00
              li
                span 11:30
              li
                span 12:00
              li
                span 12:30
              li
                span 13:00
              li
                span 13:30
              li
                span 14:00
              li
                span 14:30
              li
                span 15:00
              li
                span 15:30
              li
                span 16:00
              li
                span 16:30
              li
                span 17:00
              li
                span 17:30
              li
                span 18:00
          .table-schedule-subject
            ul.list-lecture-item
              li.timeline-vertical
                .top-info.today
                  h4.day Mon
                ul
                  each t, i in timetable
                    if (t.course_day).indexOf('월')!= -1
                      - if(t.course_start == 9) t.course_start = '09'
                      - if((t.course_end - t.course_start)==2)
                        li(class= "lecture-time two-hr hr-"+t.course_start data-event="lecture-0"+(t.id%10+1))
                          a(href='#' data-lecture=t.id)
                              .lecture-info
                                h6.lecture-title #{t.course_name}
                                h6.lecture-location #{t.course_location} 
                              .lecture-noti(data-toggle='tooltip', data-placement='top', title='', data-original-title='과제 설명 텍스트 과제 설명 텍스트 과제 설명 텍스트')
                                i.material-icons.ic-lecture-noti assignment
                                span.lecture-noti-title
                      - else
                        li(class= "lecture-time hr-"+t.course_start data-event="lecture-0"+(t.id%10+1))
                          a(href='#' data-lecture=t.id)
                            .lecture-info
                              h6.lecture-title #{t.course_name}
                              h6.lecture-location #{t.course_location} 
                            .lecture-noti(data-toggle='tooltip', data-placement='top', title='', data-original-title='과제 설명 텍스트 과제 설명 텍스트 과제 설명 텍스트')
                              i.material-icons.ic-lecture-noti assignment
                              span.lecture-noti-title 과제 제목 텍스트
              li.timeline-vertical.tue
                .top-info.tue
                  h4.day Tue
                ul
                  each t in timetable
                    if (t.course_day).indexOf('화')!= -1
                      - if(t.course_start == 9) t.course_start = '09'
                      - if((t.course_end - t.course_start)==2)
                        li(class= "lecture-time two-hr hr-"+t.course_start data-event="lecture-0"+(t.id%10+1))
                          a(href='#' data-lecture= t.id)
                              .lecture-info
                                h6.lecture-title #{t.course_name}
                                h6.lecture-location #{t.course_location} 
                              .lecture-noti(data-toggle='tooltip', data-placement='top', title='', data-original-title='과제 설명 텍스트 과제 설명 텍스트 과제 설명 텍스트')
                                i.material-icons.ic-lecture-noti assignment
                                span.lecture-noti-title 과제 제목 텍스트
                      - else
                        li(class= "lecture-time hr-"+t.course_start data-event="lecture-0"+(t.id%10+1))
                          a(href='#' data-lecture=t.id)
                            .lecture-info
                              h6.lecture-title #{t.course_name}
                              h6.lecture-location #{t.course_location} 
                            .lecture-noti(data-toggle='tooltip', data-placement='top', title='', data-original-title='과제 설명 텍스트 과제 설명 텍스트 과제 설명 텍스트')
                              i.material-icons.ic-lecture-noti assignment
                              span.lecture-noti-title 과제 제목 텍스트
              li.timeline-vertical.wed
                .top-info
                  h4.day Wed
                ul.wed
                  each t in timetable
                    if (t.course_day).indexOf('수')!= -1
                      - if(t.course_start == 9) t.course_start = '09'
                      - if((t.course_end - t.course_start)==2)
                        li(class= "lecture-time two-hr hr-"+t.course_start data-event="lecture-0"+(t.id%10+1))
                          a(href='#' data-lecture=t.id)
                              .lecture-info
                                h6.lecture-title #{t.course_name}
                                h6.lecture-location #{t.course_location} 
                              .lecture-noti(data-toggle='tooltip', data-placement='top', title='', data-original-title='과제 설명 텍스트 과제 설명 텍스트 과제 설명 텍스트')
                                i.material-icons.ic-lecture-noti assignment
                                span.lecture-noti-title 과제 제목 텍스트
                      - else
                        li(class= "lecture-time hr-"+t.course_start data-event="lecture-0"+(t.id%10+1))
                          a(href='#' data-lecture=t.id)
                            .lecture-info
                              h6.lecture-title #{t.course_name}
                              h6.lecture-location #{t.course_location} 
                            .lecture-noti(data-toggle='tooltip', data-placement='top', title='', data-original-title='과제 설명 텍스트 과제 설명 텍스트 과제 설명 텍스트')
                              i.material-icons.ic-lecture-noti assignment
                              span.lecture-noti-title 과제 제목 텍스트
              li.timeline-vertical
                .top-info.thu
                  h4.day Thu
                ul
                  each t in timetable
                    if (t.course_day).indexOf('목')!= -1
                      - if(t.course_start == 9) t.course_start = '09'
                      - if((t.course_end - t.course_start)==2)
                        li(class= "lecture-time two-hr hr-"+t.course_start data-event="lecture-0"+(t.id%10+1))
                          a(href='#' data-lecture=t.id)
                              .lecture-info
                                h6.lecture-title #{t.course_name}
                                h6.lecture-location #{t.course_location} 
                              .lecture-noti(data-toggle='tooltip', data-placement='top', title='', data-original-title='과제 설명 텍스트 과제 설명 텍스트 과제 설명 텍스트')
                                i.material-icons.ic-lecture-noti assignment
                                span.lecture-noti-title 과제 제목 텍스트
                      - else
                        li(class= "lecture-time hr-"+t.course_start data-event="lecture-0"+(t.id%10+1))
                          a(href='#')
                            .lecture-info
                              h6.lecture-title #{t.course_name}
                              h6.lecture-location #{t.course_location} 
                            .lecture-noti(data-toggle='tooltip', data-placement='top', title='', data-original-title='과제 설명 텍스트 과제 설명 텍스트 과제 설명 텍스트')
                              i.material-icons.ic-lecture-noti assignment
                              span.lecture-noti-title 과제 제목 텍스트
              li.timeline-vertical
                .top-info.fri
                  h4.day Fri
                ul
                  each t in timetable
                    if (t.course_day).indexOf('금')!= -1
                      - if(t.course_start == 9) t.course_start = '09'
                      - if((t.course_end - t.course_start)==2)
                        li(class= "lecture-time two-hr hr-"+t.course_start data-event="lecture-0"+(t.id%10+1))
                          a(href='#' data-lecture=t.id)
                              .lecture-info
                                h6.lecture-title #{t.course_name}
                                h6.lecture-location #{t.course_location} 
                              .lecture-noti(data-toggle='tooltip', data-placement='top', title='', data-original-title='과제 설명 텍스트 과제 설명 텍스트 과제 설명 텍스트')
                                i.material-icons.ic-lecture-noti assignment
                                span.lecture-noti-title 과제 제목 텍스트
                      - else
                        li(class= "lecture-time hr-"+t.course_start data-event="lecture-0"+(t.id%10+1))
                          a(href='#' data-lecture=t.id)
                            .lecture-info
                              h6.lecture-title #{t.course_name}
                              h6.lecture-location #{t.course_location} 
                            .lecture-noti(data-toggle='tooltip', data-placement='top', title='', data-original-title='과제 설명 텍스트 과제 설명 텍스트 과제 설명 텍스트')
                              i.material-icons.ic-lecture-noti assignment
                              span.lecture-noti-title 과제 제목 텍스트

  #modal-lecture-info.modal.fade(role='dialog', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          h3.lecture-title
          ul.lecture-info
            li.lecture-time
              i.material-icons.ic-lecture-info access_alarm
              span#time
            li.lecture-code
              i.material-icons.ic-lecture-info code
              span#code
            li.lecture-code
              i.material-icons.ic-lecture-info school
              span#professor
            li.lecture-code
              i.material-icons.ic-lecture-info business
              span#location
          .lecture-description
            p.txt-description
              | 본 강의에서는 JSP를 이용한 웹 기반 프로그래밍 기초 및 응용기술에 대해 학습합니다. 특히 실습 위주의 수업으로 프로그래밍 스킬 향상 및
              | 실무 능력을 갖출 수 있도록 합니다.
        .modal-footer
          button.btn.btn-light(type='button', data-dismiss='modal') 취소
          button.btn.btn-primary.submit-course(type='button') 과목 등록하기
  #modal-lecture-task.modal.fade(role='dialog', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          h3.lecture-title
          ul.lecture-info
            li.lecture-time
              i.material-icons.ic-lecture-info access_alarm
              span#lecture-time 
            li.lecture-code
              i.material-icons.ic-lecture-info code
              span#lecture-code 
            li.lecture-code
              i.material-icons.ic-lecture-info school
              span#lecture-professor
            li.lecture-code
              i.material-icons.ic-lecture-info business
              span#lecture-location
          .lecture-description
            p.txt-description
              | 본 강의에서는 JSP를 이용한 웹 기반 프로그래밍 기초 및 응용기술에 대해 학습합니다. 특히 실습 위주의 수업으로 프로그래밍 스킬 향상 및
              | 실무 능력을 갖출 수 있도록 합니다.
          .lecture-memo
            h5.memo-header 메모
            ul
              li.memo-list
                .memo-content(data-toggle='tooltip', data-placement='top', title='', data-original-title='과제 설명 텍스트 과제 설명 텍스트 과제 설명 텍스트')
                  i.material-icons.ic-lecture-noti assignment
                  span.lecture-noti-title 과제 제목 텍스트
                .memo-btn
                  a(id='delete-memo' href='')
                    i.material-icons.ic-lecture-noti delete
        .modal-footer
          .left
            button.btn.btn-light-primary(type='button', data-toggle='popover', data-trigger='click', data-placement='right', data-html='true')
              | 메모 등록
          .right
            button.btn.btn-light(type='button', data-dismiss='modal') 확인
            button.btn.btn-danger.delete-lecture(type='button') 과목 삭제하기
  #PopoverContent(style='display: none;')
    h5.schedule-title 메모 등록하기
    .form-group
      label.col-form-label
        | 제목
        input#recipient-name.form-control(type='text', placeholder='제목 추가')
    .form-group
      label.col-form-label(for='message-text') 설명
      textarea#message-text.form-control(placeholder='설명 추가')
    button.btn.btn-primary.btn-save.submit-memo(type='button') 등록
